* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

.header-logo,
.cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  list-style: none;
  color: #fff;
}

.tops {
  background-color: #1f2937;
  padding: 23px 110px;
  padding-bottom: 70px;
}

.top {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 80px;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
  color: #e5e7eb;
}

.link {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

a:hover {
  background-color: blue;
  color: #fff;
  border-radius: 4px;
}

.main-img {
  width: 100%;
  height: 300px;
}

.img-container {
  width: 55%;
}

.header-link {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.top-copyright,
.statement {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
}

.cover-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 400px;
}

.hero {
  color: #fff;
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.cover-left,
.statement {
  color: #ccc;
  margin-bottom: 3%;
}

.cover-btn {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
}

.cover-btn:hover {
  color: #fff;
  background-color: green;
  transform: translateY(-2px);
  box-shadow: -1px 8px 16px 0 #11171f;
}

.info {
  text-align: center;
  font-size: 34px;
  font-weight: 900;
  color: #1f2937;
  margin-top: 2%;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 60%;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 23%;
}

.card-img {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 180px;
}

.card-top {
  margin-bottom: 2%;
}

.card,
.add-text {
  font-size: 14px;
}

.quote {
  background-color: #ddd;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-text {
  width: 700px;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 100;
  font-style: italic;
  line-height: 40px;
}

.quote-author {
  margin-left: 550px;
}

.call-to-action {
  background-color: #fff;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-container {
  background-color: #3882f6;
  width: 700px;
  height: 90px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-text {
  width: 500px;
  margin-right: 50px;
  color: rgb(255 255 255 / 60%);
  font-size: 12px;
}

.action {
  color: #fff;
  font-size: 17px;
  margin-bottom: 0;
}

.call-text,
.add-text {
  margin-top: 5px;
}

.call-btn {
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  background-color: #3882f6;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 7px 25px;
}

.call-btn:hover {
  color: #3882f6;
  background-color: #fff;
  transform: translateY(-2px);
  box-shadow: -1px 8px 16px 0 #2b64bd;
}

.top-copyright {
  background-color: #1f2937;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
